#textField, #passField {
    width: 300px;
    padding: 10px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    color: #ff6d37;
    padding-left: 30px;
}

.submitField {
    margin-left: 110px;
    width: 20%;
    height: 30px;
}


label {
    width: 100px;
    text-align: right;
    float: left;
    margin-right: 10px;
    line-height: 30px;
}






